<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>无害化处理</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="../../css/mui.css"/>
		<link rel="stylesheet" href="../css/generic.css"/>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title" id="com-title">流向登记<span id="toalNum"></span></h1>
		</header>
		<div class="mui-content"  id="pullrefresh">
			<div class="record-list-content" id="record-list-content">
				<!-- <div class="record-list">
					<ul class="record-info">
						<li>车牌号： <span>豫U08515</span></li>
						<li>购买人： <span>王大军</span></li>
						<li>已备案企业： <span>叶县苗圃场</span></li> 
						<li>重&nbsp;&nbsp;&nbsp;&nbsp;量： <span>600（KG）</span></li>
						<li style="width: 100%;">目的地单位名称： <span>平顶山市叶县</span></li>
						<li>用&nbsp;&nbsp;&nbsp;&nbsp;途： <span>有机肥料</span></li>
						<li>日&nbsp;&nbsp;&nbsp;&nbsp;期： <span>2019-08-24 17:22</span></li>
					</ul>
					<ul><li class="oper"><a href="javascript:;" class="status-3 issued-btn mui-col-sm-2 mui-col-xs-2" recordid='+result_array[i].id+' >查看详情</a></li></ul>
				</div>
				<div class="record-list">
					<ul class="record-info">
						<li>车牌号： <span>豫U08516</span></li>
						<li>购买人： <span>王大军</span></li>
						<li>已备案企业： <span>叶县苗圃场</span></li> 
						<li>重&nbsp;&nbsp;&nbsp;&nbsp;量： <span>600（KG）</span></li>
						<li style="width: 100%;">目的地单位名称： <span>平顶山市东城区</span></li>
						<li>用&nbsp;&nbsp;&nbsp;&nbsp;途： <span>有机肥料</span></li>
						<li>日&nbsp;&nbsp;&nbsp;&nbsp;期： <span>2019-08-24 17:22</span></li>
					</ul>
					<ul><li class="oper"><a href="javascript:;" class="status-3 issued-btn mui-col-sm-2 mui-col-xs-2" recordid='+result_array[i].id+' >查看详情</a></li></ul>
				</div>
				<div class="record-list">
					<ul class="record-info">
						<li>车牌号： <span>豫U08515</span></li>
						<li>购买人： <span>王大军</span></li>
						<li>已备案企业： <span>叶县苗圃场</span></li> 
						<li>重&nbsp;&nbsp;&nbsp;&nbsp;量： <span>600（KG）</span></li>
						<li style="width: 100%;">目的地单位名称： <span>平顶山市东城区</span></li>
						<li>用&nbsp;&nbsp;&nbsp;&nbsp;途： <span>有机肥料</span></li>
						<li>日&nbsp;&nbsp;&nbsp;&nbsp;期： <span>2019-08-24 17:22</span></li>
					</ul>
					<ul><li class="oper"><a href="javascript:;" class="status-3 issued-btn mui-col-sm-2 mui-col-xs-2" recordid='+result_array[i].id+' >查看详情</a></li></ul>
				</div>
				<div class="record-list">
					<ul class="record-info">
						<li>车牌号： <span>豫U08515</span></li>
						<li>购买人： <span>王大军</span></li>
						<li>已备案企业： <span>叶县苗圃场</span></li> 
						<li>重&nbsp;&nbsp;&nbsp;&nbsp;量： <span>600（KG）</span></li>
						<li style="width: 100%;">目的地单位名称： <span>平顶山市东城区</span></li>
						<li>用&nbsp;&nbsp;&nbsp;&nbsp;途： <span>有机肥料</span></li>
						<li>日&nbsp;&nbsp;&nbsp;&nbsp;期： <span>2019-08-24 17:22</span></li>
					</ul>
					<ul><li class="oper"><a href="javascript:;" class="status-3 issued-btn mui-col-sm-2 mui-col-xs-2" recordid='+result_array[i].id+' >查看详情</a></li></ul>
				</div>
				<div class="record-list">
						<ul class="record-info">
						<li>车牌号： <span>豫U08515</span></li>
						<li>购买人： <span>王大军</span></li>
						<li>已备案企业： <span>叶县苗圃场</span></li> 
						<li>重&nbsp;&nbsp;&nbsp;&nbsp;量： <span>600（KG）</span></li>
						<li style="width: 100%;">目的地单位名称： <span>平顶山市东城区</span></li>
						<li>用&nbsp;&nbsp;&nbsp;&nbsp;途： <span>有机肥料</span></li>
						<li>日&nbsp;&nbsp;&nbsp;&nbsp;期： <span>2019-08-24 17:22</span></li>
					</ul>
					<ul><li class="oper"><a href="javascript:;" class="status-3 issued-btn mui-col-sm-2 mui-col-xs-2" recordid='+result_array[i].id+' >查看详情</a></li></ul>
				</div>
				<div class="record-list">
					<ul class="record-info">
						<li>车牌号： <span>豫U08516</span></li>
						<li>购买人： <span>王大军</span></li>
						<li>已备案企业： <span>叶县苗圃场</span></li> 
						<li>重&nbsp;&nbsp;&nbsp;&nbsp;量： <span>600（KG）</span></li>
						<li style="width: 100%;">目的地单位名称： <span>平顶山市东城区</span></li>
						<li>用&nbsp;&nbsp;&nbsp;&nbsp;途： <span>有机肥料</span></li>
						<li>日&nbsp;&nbsp;&nbsp;&nbsp;期： <span>2019-08-24 17:22</span></li>
					</ul>
					<ul><li class="oper"><a href="javascript:;" class="status-3 issued-btn mui-col-sm-2 mui-col-xs-2" recordid='+result_array[i].id+' >查看详情</a></li></ul>
				</div> -->
			</div>
		</div>
		<script type="text/javascript" src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/jquery-1.12.4.min.js"></script>
		<script type="text/javascript" src="../js/content.js"></script>
		<script type="text/javascript" src="../js/constant.js"></script>
		<script type="text/javascript" src="js/harmless-data.js"></script>
		<script type="text/javascript">
			mui.init({
				pullRefresh : {
					container: '#pullrefresh', //待刷新区域标识，querySelector能定位的css选择器均可，比如：id、.class等
					up : {
						height:50,//可选.默认50.触发上拉加载拖动距离
						auto:false,//可选,默认false.自动上拉加载一次
						contentrefresh : "正在加载...",//可选，正在加载状态时，上拉加载控件上显示的标题内容
						contentnomore:'没有数据了',//可选，请求完毕若没有更多数据时显示的提醒内容；
						callback :pullupRefresh //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
					},
					down: {
						style: "circle",
						color: "#33323E",				//可选，默认“#2BD009” 下拉刷新控件颜色
						height: '30px',					//可选,默认50px.下拉刷新控件的高度,
						range: '100px',					//可选 默认100px,控件可下拉拖拽的范围
						offset: '0px',					//可选 默认0px,下拉刷新控件的起始位置
						auto: true,					//可选,默认false.首次加载自动上拉刷新一次
						callback: pullDownRefreshFun
					}
				}
			});
			var harmless_user_id = "";
			var currpage = 1;
			var totalRows = 0;
			var totalPage = 0;
			mui.plusReady(function() {
				initSettings(); 		// 初始化设置字体大小
				harmless_user_id = plus.storage.getItem("harmless_user_id"); //用户的的id编号
				//harmless_user_id = "6971848";
				// getList();
						
			});
			function getList() {
			 	var result = "";
			 	plus.nativeUI.showWaiting("正在加载……");
				
			 	mui.ajax(Constant.getConstant("HARMLESS_PRODUCT_FLOW"), {
			 		data:{
						"api_method": "c.findProductFlows",
			 			"a_id": harmless_user_id,
						"pn": currpage,
						"ps": 10
			 		},
			 		dataType:'json',//服务器返回json格式数据
			 		type:'post',//HTTP请求类型
			 		timeout:10000,//超时日期设置为10秒；
			 		success: function(data){
						plus.nativeUI.closeWaiting();
						// console.log(JSON.stringify(data));
						totalRows = data.data.totalRows;
						totalPage = data.data.totalPage;
						var result_array = data.data.list;
						mui("#toalNum")[0].innerHTML = " 共( " + totalRows + " ) 条"
						if(data.resultStatus == true) {
							if(currpage == 1 && result_array.length == 0) {
								mui('#pullrefresh').pullRefresh().disablePullupToRefresh();
								$('#in-list-content').append('<p style="text-align: center;color: #888888;margin-top: 20px;">---- 暂无数据 ----</p>');
							} else {
								for(var i = 0; i < result_array.length; i++) {
										var uestype = "";
										switch (result_array[i].USETYPE){
											case "60001":
												uestype = "有机肥料";
												break;
											case "60002":
												uestype = "肥皂制造";
												break;
											default:
												uestype = "肥皂制造";
												break;
										}
									result = "<div class='record-list'>"
									    	+ "<ul class='record-info'>"
											+ "<li>车牌号： <span>" + result_array[i].PLATE + "</span></li>"
											+ "<li>购买人： <span>" + result_array[i].BUYNAME + "</span></li>"
											+ "<li>已备案企业： <span>" + result_array[i].FACTORYNAME + "</span></li>"
											+ "<li>重&nbsp;&nbsp;&nbsp;&nbsp;量： <span>" + result_array[i].WEIGHT + " 公斤</span></li>"
									        + "<li>用&nbsp;&nbsp;&nbsp;&nbsp;途： <span>" + uestype + " </span></li>"
											+ "<li>日&nbsp;&nbsp;&nbsp;&nbsp;期： <span>" + result_array[i].CREATETIME + "</span></li>"
											+ "<li style='width: 100%;'>目的地单位名称： <span>" + result_array[i].FLOWADDRESS + "</span></li>"
											+ "</ul>"
											+ "<ul><li class='oper'><a href='javascript:;' class='status-3 issued-btn mui-col-sm-2 mui-col-xs-2' recordid='+result_array[i].id+' >查看详情</a></li></ul>"
											+ "</div>"
										$('#record-list-content').append(result);
								}
							}	
						} else {
							mui.toast("获取失败，请重试")
						}
						
					}
				
			 	});
			}
			
			
			function pullupRefresh() {
				setTimeout(function(){
					currpage++;
					if(currpage >= totalPage) {
						mui.toast("已经到底了");
						mui('#pullrefresh').pullRefresh().disablePullupToRefresh();
					} else {
						getList();
					}
					mui('#pullrefresh').pullRefresh().endPullupToRefresh();
				}, 1500)
			}
			
			
			
			
			/**
			 * 下拉刷新功能
			 */
			function pullDownRefreshFun() {
				setTimeout(function() {
					currpage = 1;
					$('#record-list-content').html("");
					getList();
					mui('#pullrefresh').pullRefresh().endPulldownToRefresh();
					mui('#pullrefresh').pullRefresh().refresh(true);
				}, 1500);
			}
		</script>
	</body>

</html>
