<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>饲料销售日志-查看</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.css" rel="stylesheet" />
		<link href="ani-css/image.viewer.css" rel="stylesheet" />
		<link href="ani-css/home.css" rel="stylesheet" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">监督日志详情</h1>
		</header>
		<div class="mui-content">
			<div class="log-list-ul">
				<div class="log-list-li"><p class="title">企业名称：</p>
					<p class="desc" id="qymc">济源益农养殖责任有限公司济源益农养殖责任有限公司济源益农养殖责任有限公司济源益农养殖责任有限公司 </p></div>
				<div class="log-list-li"><p class="title">企业地址：</p>
					<p class="desc" id="scdz">企业地址 </p></div>
			</div>
			<div class="log-list-ul">
				<div class="log-list-li"><p class="title">检查内容：</p><p class="desc">是否具有所经营产品的储存条件</p></div>
				<p class="childArea" style="display: none;"></p>
				<div class="log-list-li"><p class="title">检查方式：</p><p class="desc">现场核查 </p></div>
				<div class="log-list-li">
					<p class="title">检查结果：</p>
					<div class="desc">
						<div class="mui-input-row mui-radio mui-left">
							<label>是</label><input name="radio1" value="是" checked="checked" type="radio" disabled>
						</div>
						<div class="mui-input-row mui-radio mui-left">
							<label>否</label><input name="radio1" value="否" type="radio" disabled>
						</div>
					</div>
				</div>
			</div>
			<div class="log-list-ul">
				<div class="log-list-li"><p class="title">检查内容：</p><p class="desc">饲料产品、饲料添加剂和饲料原料有无证号、标签和产品质量检验合格证</p></div>
				<p class="childArea" style="display: none;"></p>
				<div class="log-list-li"><p class="title">检查方式：</p><p class="desc">现场查看相关产品</p></div>
				<div class="log-list-li">
					<p class="title">检查结果：</p>
					<div class="desc">
						<div class="mui-input-row mui-radio mui-left">
							<label>有</label><input name="radio2" value="有" checked="checked" type="radio" disabled>
						</div>
						<div class="mui-input-row mui-radio mui-left">
							<label>无</label><input name="radio2" value="无" type="radio" disabled>
						</div>
					</div>
				</div>
			</div>
			<div class="log-list-ul">
				<div class="log-list-li"><p class="title">检查内容：</p><p class="desc">进货台帐完整规范</p></div>
				<p class="childArea" style="display: none;"></p>
				<div class="log-list-li"><p class="title">检查方式：</p><p class="desc">查看台帐</p></div>
				<div class="log-list-li">
					<p class="title">检查结果：</p>
					<div class="desc">
						<div class="mui-input-row mui-radio mui-left">
							<label>是</label><input name="radio3" value="是" checked="checked" type="radio" disabled>
						</div>
						<div class="mui-input-row mui-radio mui-left">
							<label>否</label><input name="radio3" value="否" type="radio" disabled>
						</div>
					</div>
				</div>
			</div>
			<div class="log-list-ul">
				<div class="log-list-li"><p class="title">检查内容：</p><p class="desc">销售台帐完整规范</p></div>
				<p class="childArea" style="display: none;"></p>
				<div class="log-list-li"><p class="title">检查方式：</p><p class="desc">查看台帐</p></div>
				<div class="log-list-li">
					<p class="title">检查结果：</p>
					<div class="desc">
						<div class="mui-input-row mui-radio mui-left">
							<label>是</label><input name="radio4" value="是" checked="checked" type="radio"  disabled>
						</div>
						<div class="mui-input-row mui-radio mui-left">
							<label>否</label><input name="radio4" value="否" type="radio" disabled>
						</div>
					</div>
				</div>
			</div>
			<div class="log-list-ul">
				<div class="log-list-li"><p class="title">检查内容：</p><p class="desc">明确记录货主的有关信息资料、验证货主的有关证明材料</p></div>
				<p class="childArea" style="display: none;"></p>
				<div class="log-list-li"><p class="title">检查方式：</p><p class="desc">查看台帐和货主证明材料</p></div>
				<div class="log-list-li">
					<p class="title">检查结果：</p>
					<div class="desc">
						<div class="mui-input-row mui-radio mui-left">
							<label>是</label><input name="radio5" value="是" checked="checked" type="radio" disabled>
						</div>
						<div class="mui-input-row mui-radio mui-left">
							<label>否</label><input name="radio5" value="否" type="radio" disabled>
						</div>
					</div>
				</div>
			</div>
			<div class="log-list-ul">
				<div class="log-list-li"><p class="title">检查内容：</p><p class="desc">对饲料、饲料添加剂进行拆包、分装和再加工</p></div>
				<p class="childArea" style="display: none;"></p>
				<div class="log-list-li"><p class="title">检查方式：</p><p class="desc">现场查看相关产品</p></div>
				<div class="log-list-li">
					<p class="title">检查结果：</p>
					<div class="desc">
						<div class="mui-input-row mui-radio mui-left">
							<label>是</label><input name="radio6" value="是" checked="checked" type="radio" disabled>
						</div>
						<div class="mui-input-row mui-radio mui-left">
							<label>否</label><input name="radio6" value="否" type="radio" disabled>
						</div>
					</div>
				</div>
			</div>
			<div class="log-img">
				<p class="title">检查不合格项图片上传：</p>
				<ul>
					<li><img src="../images/head-por.jpg" data-preview-src="" data-preview-group="1" class="max-width picture" /></li>
				</ul>
			</div>
			<div class="log-list-ul opinion">
				<p>现场查看发现的其他问题及对所发现的问题提出整改意见(包括上述15条中的问题) </p>
				<textarea placeholder="请输入" disabled id="zgyj"></textarea>
			</div>
			<div class="log-list-ul sign-ul">
				<div class="Sign">
					<p class="title">监管对象法定代表人或负责人签字：</p>
					<div class="Sign-cont">
						<img src="" class="sign_show" />
					</div>
				</div>
				<div class="Sign">
					<p class="title">执法监督人员签字：</p>
					<div class="Sign-cont">
						<img src="" class="sign_show" />
					</div>
				</div>
				<div class="check-time">检查时间：<span id="jcsj">2018-02-08</span></div>
			</div>
		</div>
		

		<script src="../../js/mui.js"></script>
		<script src="../../js/jquery.min.js"></script>
		<script src="../js/content.js"></script>
		<script src="ani-js/mui.zoom.js"></script>
		<script src="ani-js/mui.previewimage.js"></script>
		<script src="ani-js/constant.js"></script>
		<script type="text/javascript">
			mui.previewImage();
			mui.plusReady(function(){
				var uuid = plus.storage.getItem("uuid");
				if(uuid == "" || uuid == null || uuid == "undefined"){
					mui.openWindow({
						id: 'login.html',
						url: '../login.html'
					})
				}
				var self = plus.webview.currentWebview();
				var qylx = self.qylx; // 企业类型
				var l_id = self.l_id; // 日志编号
				logView(qylx, l_id);
			});
			
			// 详情
			function logView(qylx, l_id){
				var _url1=Constant.getConstant("COMPANY_LOG_DETAIL");
				mui.ajax(_url1,{
					data:{
						"qylx": qylx, //为企业类型
						"l_id": l_id //监督日志的id编号
					},
					dataType:'json',//服务器返回json格式数据
					type:'post',//HTTP请求类型
					timeout:10000,//超时时间设置为10秒；
					success:function(data){
						console.log(data.result);
						var path = data.path;
						console.log("监督日志上传照片的存储路径 " + path);
						var jsonobj = data.jsonobj;
						document.getElementById("qymc").innerHTML = jsonobj.qymc;
						document.getElementById("scdz").innerHTML = jsonobj.scdz;
						if(jsonobj.scxkz == "有"){
							$("input:radio[name='radio1'][value='是']").attr("checked",true);
						}
						if(jsonobj.cgsljy == "是"){
							$("input:radio[name='radio2'][value='是']").attr("checked",true);
						}
						if(jsonobj.zgyj == '' || jsonobj.zgyj == null || jsonobj.zgyj == undefined){
							document.getElementById("zgyj").value = "暂无意见";
						}else{
							document.getElementById("zgyj").value = jsonobj.zgyj;
						}
						// 企业是否已看过，进行签名确认：0表示没有看过，没有进行签名确认；1标识已经看过，并进行签名确认
						var checked = jsonobj.checked;
						if(jsonobj.checked == 0){
							
						}else if(jsonobj.checked == 1){
							
						}
						 
						var jcsj = jsonobj.jgrSignImg;// 监管人 手机端进行电子签名存储的电子签名图片的名称
						var jcsj = jsonobj.qyfzrSignImg;// 企业负责人 手机端进行电子签名存储的电子签名图片的名称
						
						var date = new Date(jsonobj.jcsj); // 检查日期
						Y = date.getFullYear() + '-';
						M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
						D = date.getDate() + ' ';
						document.getElementById("jcsj").innerHTML = Y+M+D;
			
						var jcsj = jsonobj.imgname;//不合格项上传照片的名称
						if(data.result == "success"){
							
						}else if(data.result == "failure"){
							mui.toast("查询失败，请重试");
						}else{
							mui.toast("失败");
						}
					},
					error:function(xhr,type,errorThrown){
						mui.toast("查询失败");
					}
				});
			}
		
		
		</script>
	
	</body>

</html>
